<div class="shortcode-slideshare" align="{{ align }}">
    <iframe src="https://www.slideshare.net/slideshow/embed_code/{{ id }}?startSlide={{ start }}" width="{{ width }}" height="{{ height }}"
            frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
            class="{{ class }}"
            style="{{ style }}" allowfullscreen webkitallowfullscreen mozallowfullscreen>
    </iframe>
</div>